@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --text: #f6f9f8;
    --background: #252525;
    --primary: #45c3af;
    --secondary: #2e423f;
    --accent: #78a19a;
}

* {
    padding: 0;
    margin: 0;
}

img {
    width: calc(20vw - 1px);
    height: calc(20vw - 1px);
}

body {
    background-color: var(--background);
    color: #f2f3f5;
    font-family: 'Roboto', sans-serif;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.25);
}

.pack-header {
    background-color: var(--secondary);
}

.pack-name {
    font-size: 30px;
}

#showCreateModal {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 40px;
    height: 40px;
}

/*.sticker {
    float: left;
}*/

.pack-stickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sticker .sticker-name {
    visibility: hidden;
    width: 120px;
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.sticker:hover .sticker-name {
    visibility: visible;
}

header {
    width: 100%;
    height: 5vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}